#page
{
	z-index: 1;
	width: 939px;
	min-height: 417.5281690140839px;
	background-image: none;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu133
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-top: 162px;
}

#u133
{
	z-index: 0;
	width: 87px;
	opacity: 0.26;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=26)";
	filter: alpha(opacity=26);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u133.f3s_top
{
	width: 87px;
	background-image: url("../images/u133-sprite.png");
	overflow: hidden;
	height: 12px;
	background-position: left top;
}

._u133.f3s_mid
{
	background-image: url("../images/u133-sprite.png");
	overflow: visible;
	background-position: -87px top;
	width: 87px;
	height: 633px;
}

._u133.f3s_bot
{
	width: 87px;
	background-image: url("../images/u133-sprite.png");
	overflow: visible;
	height: 10px;
	background-position: -174px top;
}

#pu123-4
{
	width: 0.01px;
	position: relative;
	padding-top: 8px;
	z-index: 2;
	padding-bottom: 12px;
}

#u123-4
{
	z-index: 191;
	width: 85px;
	min-height: 18px;
	text-align: center;
	font-size: 13px;
	color: #209CEF;
	position: relative;
}

#u100-5
{
	z-index: 164;
	width: 85px;
	min-height: 38px;
	margin-left: 1px;
	margin-top: 12px;
	position: relative;
}

#u101-8
{
	z-index: 169;
	width: 85px;
	min-height: 74px;
	margin-left: 1px;
	margin-top: 36px;
	position: relative;
}

#u66-5
{
	z-index: 3;
	width: 85px;
	min-height: 34px;
	margin-left: 1px;
	margin-top: 27px;
	position: relative;
}

#u147-5
{
	z-index: 350;
	width: 85px;
	min-height: 15px;
	margin-left: 1px;
	margin-top: 18px;
	position: relative;
}

#u71-7
{
	z-index: 32;
	width: 85px;
	min-height: 57px;
	margin-top: 145px;
	position: relative;
}

#u67-7
{
	z-index: 8;
	width: 85px;
	min-height: 38px;
	margin-top: 17px;
	position: relative;
}

#u69-10
{
	z-index: 15;
	width: 85px;
	min-height: 62px;
	margin-top: 22px;
	position: relative;
}

#pu102-8
{
	width: 0.01px;
	margin-left: 36px;
	top: -817px;
	margin-bottom: -66px;
	position: relative;
}

#u102-8
{
	z-index: 177;
	width: 845px;
	min-height: 41px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 50px;
}

#u102-4
{
	color: #0000FF;
}

#u103
{
	z-index: 185;
	width: 54px;
	position: relative;
	margin-right: -10000px;
	left: 789px;
}

#u108
{
	z-index: 187;
	width: 109px;
	position: relative;
	margin-right: -10000px;
        left: 60px;
}

#u115
{
	z-index: 189;
	width: 110px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 759px;
}

#pu124-4
{
	width: 0.01px;
	margin-left: 96px;
	top: -744px;
	margin-bottom: -20px;
	position: relative;
}

#u124-4
{
	z-index: 195;
	width: 271px;
	min-height: 20px;
	background-color: #9806EF;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u125-4
{
	z-index: 199;
	width: 271px;
	min-height: 20px;
	background-color: #F15A24;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u128-4
{
	z-index: 203;
	width: 271px;
	min-height: 20px;
	background-color: #39B54A;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 572px;
}

#ppu94-7
{
	width: 0.01px;
	top: -699px;
	margin-bottom: -699px;
	position: relative;
}

#pu94-7
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 361px;
}

#u94-7
{
	z-index: 39;
	width: 85px;
	min-height: 38px;
	position: relative;
}

#u70-7
{
	z-index: 25;
	width: 85px;
	min-height: 48px;
	margin-left: 4px;
	margin-top: 18px;
	position: relative;
}

#u71-5,#u67-5,#u69-8,#u94-5,#u70-5
{
	font-size: 10px;
	text-align: center;
}

#ppu137-32
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#pu137-32
{
	width: 0.01px;
	position: relative;
}

#u137-32
{
	z-index: 233;
	width: 272px;
	min-height: 395px;
	position: relative;
	margin-right: -10000px;
}

#u96-33
{
	z-index: 119;
	width: 273px;
	min-height: 395px;
	position: relative;
}

#u96-20
{
	text-align: center;
	color: #F15A24;
	font-weight: bold;
}

#u161-9
{
	z-index: 359;
	width: 275px;
	min-height: 51px;
	background-color: #6FC4FA;
	padding-top: 8px;
	text-align: center;
	margin-top: 61px;
	position: relative;
}

#u132-4
{
	z-index: 207;
	width: 552px;
	min-height: 20px;
	background-color: #ED1C24;
	text-align: center;
	color: #FFFFFF;
	margin-left: 4px;
	margin-top: 21px;
	position: relative;
}

#pu134-22
{
	width: 0.01px;
	margin-left: 4px;
	position: relative;
}

#u134-22
{
	z-index: 211;
	width: 271px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u99-12
{
	z-index: 152;
	width: 271px;
	position: relative;
	margin-right: -10000px;
	left: 281px;
}

#u134-2,#u99-2,#u99-3
{
	text-align: center;
	color: #ED1C24;
	font-weight: bold;
}

#pu95-73
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 665px;
}

#u95-73
{
	z-index: 46;
	width: 273px;
	min-height: 713px;
	margin-left: 1px;
	position: relative;
}

#u95-8
{
	text-align: center;
	color: #39B54A;
	font-weight: bold;
}

#u96-21,#u95-9
{
	text-align: center;
}

#u95-17,#u95-26,#u95-50,#u95-56
{
	font-size: 11px;
	font-weight: bold;
}

#u162-7
{
	z-index: 368;
	width: 271px;
	min-height: 111px;
	background-color: #6FC4FA;
	padding-top: 6px;
	text-align: center;
	margin-top: 12px;
	position: relative;
}

#u161-2,#u162-2
{
	font-weight: bold;
}

#pu138-4
{
	width: 0.01px;
	margin-left: 96px;
	margin-top: 22px;
	position: relative;
}

#u138-4
{
	z-index: 265;
	width: 271px;
	min-height: 20px;
	background-color: #9806EF;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u139-4
{
	z-index: 269;
	width: 271px;
	min-height: 20px;
	background-color: #F15A24;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u140-4
{
	z-index: 273;
	width: 271px;
	min-height: 20px;
	background-color: #39B54A;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 569px;
}

#pu143-26
{
	width: 0.01px;
	margin-left: 96px;
	margin-top: 14px;
	position: relative;
}

#u143-26
{
	z-index: 306;
	width: 275px;
	min-height: 307px;
	position: relative;
	margin-right: -10000px;
}

#u137-11,#u143-17
{
	text-align: center;
	color: #9806EF;
	font-weight: bold;
}

#pu96-33,#pu160-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u160-4
{
	z-index: 355;
	width: 549px;
	text-align: center;
	position: relative;
}

#pu142-15
{
	width: 0.01px;
	margin-top: 10px;
	position: relative;
}

#u142-15
{
	z-index: 291;
	width: 275px;
	min-height: 152px;
	position: relative;
	margin-right: -10000px;
}

#u141-14
{
	z-index: 277;
	width: 270px;
	min-height: 152px;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u144-5
{
	z-index: 332;
	width: 555px;
	min-height: 19px;
	text-align: center;
	color: #F15A24;
	font-weight: bold;
	margin-top: 3px;
	position: relative;
}

#u137-10,#u96-19,#u95-7,#u143-16,#u144
{
	text-decoration: underline;
}

#u144-2
{
	text-decoration: underline;
	color: #39B54A;
}

#u146-13
{
	z-index: 337;
	width: 552px;
	min-height: 206px;
	margin-top: 8px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

