players_pics/*
!players_pics/.gitkeep

players_pics_low/*
!players_pics_low/.gitkeep

teams_pics/*
!teams_pics/.gitkeep

match_files/*
!match_files/.gitkeep

.idea
.env
.env.*
docker-sql/ufolepvocbufolep-data-only.sql
vendor
composer.lock
composer.phar
unit_tests/files/do_not_version/*.pdf

github-actions-deploy*
/.phpunit.result.cache

/caddy.exe
/pr_body.md