.texte_page {
	FONT-SIZE: x-small;
	COLOR: #000000;
	FONT-STYLE: normal;
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

.titre_2 {
	FONT-WEIGHT: bolder;
	FONT-SIZE: small; 
	COLOR: #000000; 
	BORDER-TOP-STYLE: none; 
	TEXT-INDENT: 5px; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	TEXT-ALIGN: left; 
	BORDER-BOTTOM-STYLE: none
}

.retour_accueil {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 12px; 
	TEXT-INDENT: 10px; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: right; 
	TEXT-DECORATION: underline
}

.tableau_resultats {
	WIDTH: 750px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.texte_page_italique {
	FONT-SIZE: x-small; 
	COLOR: #000000; 
	FONT-STYLE: italic; 
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
}

.tableau_texte_page_centre {
	FONT-SIZE: x-small; 
	COLOR: #000000; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: center
}

.equipe_texte_info {
	FONT-SIZE: small; 
	COLOR: #000000; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
}

.equipe_texte_titre {

	FONT-WEIGHT: bold; 
	FONT-SIZE: small; COLOR: #000000; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}

.equipe_titre {

	FONT-WEIGHT: bold; 
	FONT-SIZE: medium; 
	COLOR: #000000; 
	LINE-HEIGHT: 30px; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif

}

.equipe_texte_titre_centre {

	FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center

}

.tableau_coupe_resultats_sets {

	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: center

}

.tableau_coupe_equipe_droite {

	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right

}

.tableau_coupe_equipe_gauche {

	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left

}

.tableau_coupe_journee {

	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d6d6d6; TEXT-ALIGN: center

}

.tableau_coupe_equipe_gauche_avance {

	FONT-WEIGHT: normal; FONT-SIZE: 12px; TEXT-INDENT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left

}

.equipe_titre_centre {

	FONT-WEIGHT: bold; FONT-SIZE: large; COLOR: #000000; LINE-HEIGHT: 30px; FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center

}



.tableau_classement_JGPSPSCDIFF {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: double;
	border-top-color: #99CCFF;
	border-right-color: #99CCFF;
	border-bottom-color: #99CCFF;
	border-left-color: #99CCFF;

}



.tableau_classement_titre {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
	background-color: #99CCFF;
	text-align: center;
	font-size: 12px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}



.tableau_classement_POS{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-position: right;
	text-align: center;
	font-weight: bold;
	color: #000000;
	background-color: #99CCFF;
	font-size: 12px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;

}



.tableau_classement_equipe {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
	text-indent: 10px;
	font-size: 12px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #99CCFF;
	border-right-color: #99CCFF;
	border-bottom-color: #99CCFF;
	border-left-color: #99CCFF;
	border-right-style: solid;

}



.tableau_classement_points {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #99CCFF;
	border-right-color: #99CCFF;
	border-bottom-color: #99CCFF;
	border-left-color: #99CCFF;
	font-weight: bold;
	color: #FF0000;
}
.date {


	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #000000; BORDER-TOP-STYLE: none; TEXT-INDENT: 5px; FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
.telecharger {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	FONT-STYLE: normal;
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
	TEXT-ALIGN: left;
	TEXT-DECORATION: underline;
	color: #3300FF;
}
.telecharger_centre {

	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	FONT-STYLE: normal;
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
	TEXT-ALIGN: center;
	TEXT-DECORATION: underline;
	color: #3300FF;
}

.titre_journee {
	WIDTH: 750px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-indent: 100px;
}
tableau_classements_titres {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #FFCC99;
	text-align: center;
}
.news {
	position:absolute;
	width:435px;
	height:146px;
	z-index:10;
	left: 137px;
	top: 273px;
}
.calque_titre_page {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-image: url(images/bandeau_titre_page.gif);
	text-align: left;
	text-indent: 20px;
	height: 30px;
	width: 750px;
	position: absolute;
	visibility: visible;
	left: 137px;
	top: 239px;
	font-size: medium;
	color: #000000;
	font-weight: bold;
	z-index: 6;
}
.calque_top_page {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-image: url(images/bandeau_titre_page.gif);
	position:absolute;
	width:750px;
	z-index:7;
	top: 30px;
	left: 111px;
	background-color: #FFFFFF;
	background-image: url(images/bandeau.gif);
	height: 210;
	visibility: visible;
}
.calque_contenu_page {
	position:absolute;
	width:750px;
	height:179px;
	z-index:9;
	left: 137px;
	top: 273px;
	background-color: #FFFFFF;
	text-align: right;
	overflow: visible;
}
.titre_tableau_accueil {

	FONT-WEIGHT: bold;
	FONT-SIZE: 14px; 
	COLOR: #000000; 
	BORDER-TOP-STYLE: none; 
	TEXT-INDENT: 5px; 
	FONT-STYLE: italic; 
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	TEXT-ALIGN: left; 
	BORDER-BOTTOM-STYLE: none
}
.calque_news_texte {
	position:absolute;
	width:435px;
	height:100;
	z-index:3;
	left: 30px;
	top: 65px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
}
.calque_news_titre {
	position:absolute;
	width:435px;
	height:25px;
	z-index:2;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	left: 30px;
	top: 30px;
}
.calque_contenu_division {
	position:absolute;
	width:750px;
	z-index:5;
	left: 137px;
	top: 285;
	height: 18px;
	visibility: visible;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}
	
.saisie_resultat_titre {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-right-style: solid;
}
.saisie_resultat_donnees {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	border-top-color: #99CCFF;
	border-right-color: #99CCFF;
	border-bottom-color: #99CCFF;
	border-left-color: #99CCFF;
	border-right-style: solid;
	vertical-align: middle;
}
.saisie_resultat_equipes {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	border-top-color: #99CCFF;
	border-right-color: #99CCFF;
	border-bottom-color: #99CCFF;
	border-left-color: #99CCFF;
	border-right-style: solid;
	vertical-align: middle;
	text-indent: 10px;
}
.modif_news_titre {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-right-style: solid;
	font-style: italic;
}
.modif_result_donnees {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	border-top-color: #99CCFF;
	border-right-color: #99CCFF;
	border-bottom-color: #99CCFF;
	border-left-color: #99CCFF;
	border-right-style: solid;
	vertical-align: middle;
	text-indent: 10px;
}
.modif_news_texte {


	FONT-WEIGHT: normal; 
	FONT-SIZE: small; COLOR: #000000; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
.calque_admin_titre {
	position:absolute;
	width:435px;
	height:25px;
	z-index:2;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	left: 30px;
	top: 30px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #99CCFF;
	border-right-color: #99CCFF;
	border-bottom-color: #99CCFF;
	border-left-color: #99CCFF;
	vertical-align: middle;
}
.annuaire_titre_division {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	font-style: italic;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #CCCCCC;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #CCCCCC;
	border-bottom-style: ridge;
}
.annuaire_resp_equipe {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	text-align: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	font-style: normal;
	text-indent: 20px;
}
.annuaire_resp_titre {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	text-align: right;
	font-style: italic;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.annuaire_nom_equipe {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	border-top-width: 1px;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #99CCFF;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #99CCFF;
	border-right-style: solid;
	font-style: italic;
	text-indent: 40px;
	border-top-style: solid;
	border-left-style: solid;
	height: 25px;
}
.annuaire_details_equipe {
	FONT-WEIGHT: bold;
	FONT-SIZE: large;
	COLOR: #000000;
	FONT-STYLE: italic;
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
	TEXT-ALIGN: center;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-right-style: groove;
	border-bottom-style: groove;
	border-top-color: #99CCFF;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #99CCFF;
	border-top-style: solid;
	border-left-style: solid;
}
.annuaire_details_titres {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-STYLE: italic;
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
	TEXT-ALIGN: right;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #99CCFF;
	border-right-color: #99CCFF;
	border-bottom-color: #99CCFF;
	border-left-color: #99CCFF;
	text-indent: 10px;
}
.annuaire_details_donnees {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	text-indent: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.annuaire_details_mef_tableau {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.annuaire_details_mef_photo {
	border: 1px dashed #CCCCCC;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.annuaire_nom_division {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	font-style: normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-top-style: solid;
}
.commission_nom {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	font-style: normal;
	border-top-width: thin;
	border-bottom-width: 1px;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	text-indent: 50px;
	border-bottom-style: solid;
	border-top-style: dotted;
}
.commission_titres {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
	font-style: normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	text-indent: 10px;
	border-bottom-style: solid;
}
.commission_donnees {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-align: left;
	font-style: normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	text-indent: 20px;
	border-bottom-style: solid;
}
.commission_fonction {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	font-style: italic;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	text-indent: 30px;
	border-bottom-style: solid;
}
.docs_titre_selection {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	font-style: italic;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #CCCCCC;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #CCCCCC;
	border-bottom-style: ridge;
	border-top-style: solid;
}
.docs_nom_docs {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	font-style: normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-top-style: solid;
	text-indent: 10px;
}
.docs_titre_contenu {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-right-style: solid;
	font-style: italic;
}
.liens_titre {
	FONT-WEIGHT: bold;
	FONT-SIZE: small;
	COLOR: #000000;
	FONT-STYLE: normal;
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
	TEXT-ALIGN: left;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-right-style: solid;
	text-indent: 30px;
}
.liens_donnees {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	border-right-width: 1px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-right-style: solid;
}
.liens_mef_logo {


	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.archives_titre_selection {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	font-style: italic;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #CCCCCC;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #CCCCCC;
	border-bottom-style: ridge;
	border-top-style: solid;
}
.archives_type {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	font-style: normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-top-style: solid;
	text-indent: 10px;
}
.archives_annee {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	text-indent: 20px;
	border-right-width: 1px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-right-style: solid;
	font-weight: bold;
	font-style: italic;
}
.archives_titre {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	text-indent: 20px;
	border-right-width: 1px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-right-style: solid;
	font-weight: bold;
}
.archives_mef_dl {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	text-indent: 20px;
	border-right-width: 1px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-right-style: solid;
	font-weight: bold;
}
 
.annuaire_titre_admin {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	font-style: italic;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #CCCCCC;
	border-bottom-style: ridge;
	border-top-style: solid;
}
.journee_donnees {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	border-right-width: thin;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-right-style: solid;
	vertical-align: middle;
	text-indent: 30px;
}
.journee_numero {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-right-style: solid;
	color: #000000;
}
.auth_titre {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: right;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	color: #000000;
	line-height: 30px;
}
.auth_donnees {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-align: left;
	color: #000000;
	text-indent: 20px;
	line-height: 30px;
}
.portail_matches_donnees {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-left-style: dotted;
}
.portail_matches_donnees_titres {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	font-style: italic;
	font-weight: bold;
}
.portail_matches_icone_modifier {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-right-style: dotted;
	border-left-style: dotted;
}
.portail_matches_equipe_dom {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: thin;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-left-style: solid;
	font-weight: bold;
}
.portail_matches_equipe_ext {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: thin;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-right-style: solid;
	border-left-style: dotted;
	font-weight: bold;
}
.portail_titre_tableau {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	font-style: italic;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-color: #0000FF;
	border-bottom-color: #0000FF;
	text-indent: 30px;
	border-bottom-style: solid;
	border-top-style: solid;
	vertical-align: top;
}
.portail_details_equipe_titres {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: right;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	font-style: italic;
	font-weight: bold;
	text-indent: 10px;
}
.portail_details_equipe_donnees {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-left-style: dotted;
	text-indent: 10px;
}
.portail_liens {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-left-style: dotted;
	font-weight: bold;
}
.admin_adddelete_team_datas {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	text-align: right;
	font-style: normal;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.admin_adddelete_team_delete {
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-right-width: thin;
	border-left-width: 1px;
	border-right-color: #99CCFF;
	border-left-color: #CCCCCC;
	border-right-style: solid;
	border-left-style: solid;
}
.admin_adddelete_team_titre {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	font-style: italic;
	border-right-width: thin;
	border-bottom-width: thin;
	border-top-color: #99CCFF;
	border-right-color: #99CCFF;
	border-bottom-color: #99CCFF;
	border-left-color: #99CCFF;
	border-bottom-style: solid;
	border-right-style: solid;
}
.admin_adddelete_team_division {

	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	font-style: italic;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.texte_page_gagnea5 {

	FONT-SIZE: x-small;
	COLOR: #990000;
	FONT-STYLE: italic;
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.tableau_classement_points_gagnea5 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #99CCFF;
	border-right-color: #99CCFF;
	border-bottom-color: #99CCFF;
	border-left-color: #99CCFF;
	font-weight: bold;
	color: #FF0000;
	font-style: italic;
}
.portail_matches_certif {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-left-style: dotted;
	background-color: #33FF66;
}
#contenu {
	margin-top: 10px;
	border: 1px solid #CCCCCC;
}
#fond {
	background-color: #FFFFFF;
	width: 750px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	border: 1px solid #CCCCCC;
	list-style-image: url(images/puce.gif);
}
#titre_page {
}

body {
	background-image: url(images/fond.gif);
	background-repeat: repeat;
	text-align: center;
}
a {
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
a:link {
	text-decoration: none;
}
a:hover {
	color: #0000FF;
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
#titretexte {	position:absolute;
	width:750px;
	z-index:5;
	left: 137px;
	top: 273px;
	background-color: #FFFFFF;
	height: 46px;
	visibility: visible;
}
#titre_page {
	margin-top: 50px;
	margin-bottom: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #319EFF;
	font-weight: bold;
}

#administration_titre1 {
	position:absolute;
	width:350px;
	height:20px;
	z-index:1;
	left: 10px;
	top: 5px;
}
#administration_titre2 {
	position:absolute;
	width:350px;
	height:20px;
	z-index:2;
	left: 390px;
	top: 5px;
}
#administration_cadre1 {
	position:absolute;
	width:350px;
	height:115px;
	z-index:3;
	left: 10px;
	top: 40px;
}
#administration_cadre2 {
	position:absolute;
	width:350px;
	height:115px;
	z-index:4;
	left: 390px;
	top: 40px;
}
#deconn {
	position:absolute;
	width:120;
	height:20px;
	z-index:1;
	left: 553px;
	top: 5px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

#top {
	background-image: url(images/bandeau.jpg);
	background-repeat: no-repeat;
	height: 140px;
	width: 750px;
	margin-bottom: 20px;
}

#fond {
	width: 750px;
	margin: 10px auto 10px auto;
	color: #3d3d3f;
	text-align: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #686665;
	border-right-color: #686665;
	border-bottom-color: #686665;
	border-left-color: #686665;
	border-top-style: solid;
	border-left-style: solid;
}
