<!DOCTYPE html>
<html data-theme="cupcake" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Joueurs</title>
    <link rel="stylesheet" href="./src/css/app.css">
</head>
<body>
<div id="app" class="max-w-3xl mx-auto p-6">
    <div v-if="isLoading" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50">
        <div class="loading loading-spinner loading-lg">Loading...</div>
    </div>
    <match-menu :id-match="id_match"></match-menu>
    <match-summary :match-data="matchData"
                   @sign-match="signMatch"
                   @sign-team-sheets="signTeamSheets"></match-summary>
    <div class="flex justify-center items-center m-4">
        <form @submit.prevent="submitForm">
            <div class="flex flex-col">
                <div v-if="!(matchData.is_sign_team_dom === 1 && matchData.is_sign_team_ext === 1)">
                    <h1>Joueurs disponibles</h1>
                    <player-list
                            :players="availablePlayersDom"
                            :team-name="matchData.equipe_dom"
                            :is-signed="matchData.is_sign_team_dom === 1 && matchData.is_sign_team_ext === 1"
                            mode="add"
                            @add-player="addPlayer">
                    </player-list>

                    <player-list
                            :players="availablePlayersExt"
                            :team-name="matchData.equipe_ext"
                            :is-signed="matchData.is_sign_team_dom === 1 && matchData.is_sign_team_ext === 1"
                            mode="add"
                            @add-player="addPlayer">
                    </player-list>
                    <div class="border border-2 border-black">
                        <label>Renfort
                            <input v-model="query"
                                   @input="search"
                                   type="text"
                                   placeholder="taper pour chercher un joueur"
                                   class="input input-bordered w-full max-w-xs"
                            />
                        </label>
                        <div role="alert" class="alert">
                            1 joueur autorisé par match et par équipe. <br/>
                            Le même renfort ne peut pas être utilisé sur 2 matchs dans la même demi-saison
                        </div>
                        <player-list
                                :players="renforts.filter(player => !matchPlayers.includes(player))"
                                team-name="Renfort"
                                :is-signed="matchData.is_sign_team_dom === 1 && matchData.is_sign_team_ext === 1"
                                mode="add"
                                @add-player="addPlayer">
                        </player-list>
                    </div>
                </div>
                <div>
                    <h1>Joueurs présents</h1>
                    <player-list
                            :players="matchPlayers.filter(player => player.equipe === matchData.equipe_dom)"
                            :team-name="matchData.equipe_dom"
                            :is-signed="matchData.is_sign_team_dom === 1 && matchData.is_sign_team_ext === 1"
                            mode="remove"
                            @remove-player="removePlayer">
                    </player-list>
                    <player-list
                            :players="matchPlayers.filter(player => player.equipe === matchData.equipe_ext)"
                            :team-name="matchData.equipe_ext"
                            :is-signed="matchData.is_sign_team_dom === 1 && matchData.is_sign_team_ext === 1"
                            mode="remove"
                            @remove-player="removePlayer">
                    </player-list>
                    <player-list
                            :players="matchPlayers.filter(player => player.equipe !== matchData.equipe_ext && player.equipe !== matchData.equipe_dom)"
                            team-name="Renfort"
                            :is-signed="matchData.is_sign_team_dom === 1 && matchData.is_sign_team_ext === 1"
                            mode="remove"
                            @remove-player="removePlayer">
                    </player-list>
                </div>
            </div>
            <div class="flex justify-center items-center m-4" v-if="!(matchData.is_sign_team_dom === 1 && matchData.is_sign_team_ext === 1)">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-pencil mr-1"></i><span>Enregistrer</span>
                </button>
            </div>
        </form>
    </div>
</div>
<script src="./team_sheets.js" type="module"></script>
</body>
</html>
