<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validation des matchs</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body class="bg-gray-100">
<div id="match-app" class="container mx-auto p-4">
    <div class="flex justify-between items-center mb-4">
        <a href="/" class="flex items-center text-blue-600 font-bold text-xl hover:underline">
            <i class="fas fa-home text-2xl mr-2"></i>
            Accueil
        </a>
        <span class="text-xl">{{ filteredMatches.length }} match(s) trouvé(s)</span>
        <img src="/images/ufolep-logo-cmjn-BOUCHES-DU.jpg" alt="Logo" class="h-12">
    </div>
    <!-- Barre de recherche et filtres -->
    <div class="flex flex-wrap gap-4 mb-6">
        <label class="flex items-center gap-2">
            <span>compétition</span>
            <select v-model="filter.selectedCompetition" @change="updateAvailableDivisions"
                    class="select select-bordered select-sm ml-2">
                <option value="">toutes</option>
                <option v-for="competition in availableCompetitions" :key="competition" :value="competition">
                    {{ competition }}
                </option>
            </select>
        </label>
        <label class="flex items-center gap-2" v-if="filter.selectedCompetition">
            <span>division</span>
            <select v-model="filter.selectedDivision" class="select select-bordered select-sm ml-2">
                <option value="">toutes</option>
                <option v-for="division in availableDivisions" :key="division" :value="division">
                    {{ division }}
                </option>
            </select>
        </label>
        <label class="flex items-center gap-2">
            <input
                    type="checkbox"
                    v-model="filter.showPlayedMatchesOnly"
                    class="checkbox checkbox-primary"
            />
            <span>joués</span>
        </label>
        <label class="flex items-center space-x-2">
            <input
                    type="checkbox"
                    v-model="filter.showCertifiable"
                    class="checkbox checkbox-primary"
            />
            <span>certifiables</span>
        </label>
        <label class="flex items-center space-x-2">
            <input
                    type="checkbox"
                    v-model="filter.showForbiddenPlayer"
                    class="checkbox checkbox-primary"
            />
            <span>joueurs non homologués</span>
        </label>
        <label class="flex items-center space-x-2">
            <input
                    type="checkbox"
                    v-model="filter.showCertified"
                    class="checkbox checkbox-primary"
            />
            <span>certifiés</span>
        </label>
        <label class="flex items-center space-x-2">
            <input
                    type="checkbox"
                    v-model="filter.showNotCertified"
                    class="checkbox checkbox-primary"
            />
            <span>non certifiés</span>
        </label>
        <input
                type="text"
                v-model="searchQuery"
                placeholder="Rechercher un match..."
                class="input input-bordered flex-grow"
        />
        <button @click="resetFilters" class="btn btn-outline">Réinitialiser</button>
    </div>

    <!-- Liste des matchs -->
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <li v-for="match in filteredMatches" :key="match.id_match" class="card shadow-md bg-white">
            <div class="card-body">
                <h2 class="card-title text-lg font-bold">{{ match.code_match }}
                    <span class="text-blue-500 font-medium">
                        <a :href="`/match.php?id_match=${match.id_match}`" target="_blank">
                            <i class="fas fa-external-link-alt ml-1"></i>
                        </a>
                        <a :href="`mailto:${match.email_dom},${match.email_ext}`" target="_blank">
                            <i class="fas fa-envelope ml-1"></i>
                        </a>
                    </span>
                </h2>
                <p class="text-sm text-gray-600 font-medium">
                    <span class="text-gray-800">Compétition :</span> {{ match.libelle_competition }}
                </p>
                <p class="text-sm text-gray-600 font-medium">
                    <span class="text-gray-800">Division :</span>
                    <span class="text-blue-500 font-medium">
                        <a :href="`/new_site/#/championship/${match.code_competition}/${match.division}`"
                           target="_blank">
                             <span>{{ match.division }}</span><i class="fas fa-external-link-alt ml-1"></i>
                        </a>
                    </span>
                </p>
                <p class="text-sm text-gray-600 font-medium">
                    <span class="text-gray-800">Rencontre :</span>
                    <span>{{ match.equipe_dom }} <span class="text-blue-500 font-medium"><a
                            :href="`mailto:${match.email_dom}`" target="_blank">
                            <i class="fas fa-envelope ml-1"></i>
                    </a></span>
                    </span>
                    vs
                    <span>{{ match.equipe_ext }} <span class="text-blue-500 font-medium"><a
                            :href="`mailto:${match.email_ext}`" target="_blank">
                            <i class="fas fa-envelope ml-1"></i>
                    </a></span></span>
                </p>
                <p class="text-sm text-gray-600 font-medium">
                    <span class="text-gray-800">Date :</span> {{ match.date_reception }}
                </p>
                <p class="text-sm text-gray-600 font-medium"
                   v-if="match.score_equipe_dom > 0 || match.score_equipe_ext > 0">
                    <span class="text-gray-800">Score :</span>
                    <span class="text-xl">{{ match.score_equipe_dom }} - {{ match.score_equipe_ext }}</span>
                    <span v-if="match.set_1_dom > 0 || match.set_1_ext > 0">{{ match.set_1_dom }}/{{ match.set_1_ext }}
                    </span>
                    <span v-if="match.set_2_dom > 0 || match.set_2_ext > 0">{{ match.set_2_dom }}/{{ match.set_2_ext }}
                    </span>
                    <span v-if="match.set_3_dom > 0 || match.set_3_ext > 0">{{ match.set_3_dom }}/{{ match.set_3_ext }}
                    </span>
                    <span v-if="match.set_4_dom > 0 || match.set_4_ext > 0">{{ match.set_4_dom }}/{{ match.set_4_ext }}
                    </span>
                    <span v-if="match.set_5_dom > 0 || match.set_5_ext > 0">{{ match.set_5_dom }}/{{ match.set_5_ext }}
                    </span>
                </p>
                <div class="text-sm flex flex-col gap-2">
                    <span v-if="match.certif === 1" class="badge badge-success">Certifié</span>
                    <span
                            class="badge"
                            :class="match.is_sign_team_dom + match.is_sign_team_ext === 2 ? 'badge-success' : 'badge-error'">
                        {{
                            match.is_sign_team_dom + match.is_sign_team_ext === 2 ? 'fiche équipe signée' : 'fiche équipe non signée'
                        }}
                        <span class="text-blue-500 font-medium">
                            <a :href="`/team_sheets.php?id_match=${match.id_match}`" target="_blank">
                                <i class="fas fa-external-link-alt ml-1"></i>
                            </a>
                        </span>
                    </span>
                    <span
                            class="badge"
                            :class="match.is_sign_match_dom + match.is_sign_match_ext === 2 ? 'badge-success' : 'badge-error'">
                        {{
                            match.is_sign_match_dom + match.is_sign_match_ext === 2 ? 'feuille de match signée' : 'feuille de match non signée'
                        }}
                        <span class="text-blue-500 font-medium">
                            <a :href="`/match.php?id_match=${match.id_match}`" target="_blank">
                                <i class="fas fa-external-link-alt ml-1"></i>
                            </a>
                        </span>
                    </span>
                    <span
                            class="badge"
                            :class="match.is_survey_filled_dom + match.is_survey_filled_ext === 2 ? 'badge-success' : 'badge-error'">
                        {{
                            match.is_survey_filled_dom + match.is_survey_filled_ext === 2 ? 'sondage rempli' : 'sondage non rempli'
                        }}
                    </span>
                    <span v-if="match.has_forbidden_player === 1" class="badge badge-error">
                        pb licence(s)
                        <span class="text-blue-500 font-medium">
                            <a :href="`/team_sheets.php?id_match=${match.id_match}`" target="_blank">
                                <i class="fas fa-external-link-alt ml-1"></i>
                            </a>
                        </span>
                    </span>
                    <span class="badge badge-neutral"
                          v-if="['ASKED_BY_DOM', 'ASKED_BY_EXT'].includes(match.report_status)">report demandé
                    </span>
                    <span v-if="['ACCEPTED_BY_DOM', 'ACCEPTED_BY_EXT'].includes(match.report_status)"
                          class="badge badge-accent">report accepté</span>
                    <span v-if="['REFUSED_BY_DOM', 'REFUSED_BY_EXT', 'REFUSED_BY_ADMIN'].includes(match.report_status)"
                          class="badge badge-error">report refusé</span>
                    <span class="badge badge-error" v-if="match.is_forfait === 1">forfait</span>
                    <div v-if="!['null', ''].includes(match.note)" class="collapse">
                        <input type="checkbox"/>
                        <div class="collapse-title text-sm font-medium">voir les commentaires</div>
                        <div class="collapse-content">
                            <p>{{ match.note }}</p>
                        </div>
                    </div>
                </div>
                <button
                        v-if="canValidate"
                        @click="validateMatch(match.id_match)"
                        :disabled="loadingMatch === match.id_match || match.certif === 1"
                        class="btn btn-primary w-full mt-2">
                    {{ loadingMatch === match.id_match ? "validation..." : "valider le match" }}
                </button>
            </div>
        </li>
    </ul>
</div>
<script src="/admin/matches.js" type="module"></script>
</body>
</html>