<div class="panel panel-primary" id="modify_player">
    <div class="panel-heading"><h1 class="panel-title">Modification d'un joueur</h1>
    </div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">Joueur</label>
            <div class="col-sm-10">
                <input type="text" ng-model="modify_player.id"
                       uib-typeahead="existing_player.id as existing_player.full_name for existing_player in players | filter:$viewValue | limitTo:8"
                       class="form-control"
                       typeahead-input-formatter="initModifyPlayerFields($model, players)"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Prénom</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="prenom"
                       ng-model="modify_player.prenom"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Nom</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="nom"
                       ng-model="modify_player.nom"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Numéro de licence</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="num_licence"
                       ng-model="modify_player.num_licence"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Sexe</label>
            <div class="col-sm-10">
                <select class="form-control" name="sexe" ng-model="modify_player.sexe">
                    <option value="M">Masculin</option>
                    <option value="F">Féminin</option>
                </select></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Département
                d'affiliation</label>
            <div class="col-sm-10">
                <select class="form-control" name="departement_affiliation"
                        ng-model="modify_player.departement_affiliation">
                    <option value="13">Bouches du Rhône</option>
                    <option value="84">Vaucluse</option>
                    <option value="83">Var</option>
                    <option value="0">Autre</option>
                </select></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Club</label>
            <div class="col-sm-10">
                <input type="text" ng-model="modify_player.id_club"
                       uib-typeahead="existing_club.id as existing_club.nom for existing_club in all_clubs | filter:$viewValue | limitTo:8"
                       class="form-control"
                       typeahead-input-formatter="formatClubLabel($model, all_clubs)"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" class="c-input c-checkbox">Diffusion photo autorisée</label>
            <div class="col-sm-10">
                <input class="form-control" name="show_photo" type="checkbox" ng-true-value="'on'"
                       ng-false-value="'off'"
                       ng-model="modify_player.show_photo">
                <span class="c-indicator"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Photo</label>
            <div class="col-sm-10">
                <input class="form-control-file" type="file" aria-describedby="fileHelp"
                       file-model="modify_player.photo">
                <small id="fileHelp" class="form-text text-muted">La photo du joueur doit être au format JPG. Essayer
                    d'utiliser une photo peu volumineuse (moins de 1Mo)
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Numéro de téléphone</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="telephone"
                       ng-model="modify_player.telephone"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Adresse email</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="email"
                       ng-model="modify_player.email"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Numéro de téléphone
                secondaire</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="telephone2"
                       ng-model="modify_player.telephone2"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Adresse email secondaire</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="email2"
                       ng-model="modify_player.email2"></div>
        </div>
        <button type="submit" class="btn btn-default" ng-click="edit_existing_player()">Sauver</button>
    </form>
</div>
<div class="alert alert-danger" role="alert" ng-hide="(myTxt+ '').length <= 0">
    {{myTxt}}
</div>
