<div style="height: 305px">
    <div uib-carousel active="0" interval="3000" no-wrap="false">
        <div uib-slide index="0">
            <a href="#lastResults">
                <div class="jumbotron text-center">
                    <h2>Derniers résultats</h2>
                </div>
            </a>
        </div>
        <div uib-slide index="1">
            <a href="#weekMatches">
                <div class="jumbotron text-center">
                    <h2>Cette semaine</h2>
                </div>
            </a>
        </div>
        <div uib-slide index="2">
            <a href="#webSites">
                <div class="jumbotron text-center">
                    <h2>Sites web des clubs</h2>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="panel panel-primary" id="lastNews">
    <div class="panel-heading">
        <h1 class="panel-title">Dernières nouvelles</h1>
    </div>
    <table class="table table-bordered">
        <tr class="warning">
            <th>Titre</th>
            <th>Texte</th>
            <th>Lien</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="x in lastNews">
            <td>{{ x.title }}</td>
            <td ng-bind-html="x.text">{{ x.text }}</td>
            <td><a ng-if="x.file_path" href="{{ x.file_path }}" target="_blank">Lire...</a></td>
            <td>{{ x.news_date }}</td>
        </tr>
    </table>
</div>