<div class="panel panel-primary" id="lastResults">
    <div class="panel-heading">
        <h1 class="panel-title">Derniers résultats</h1>
    </div>
    <table class="table table-bordered" ng-repeat="x in lastResults | unique:'competition'">
        <tr class="warning">
            <th>{{ x.competition | uppercase }}</th>
        </tr>
        <tr>
            <td>
                <table class="table"
                       ng-repeat="y in lastResults | filter:{ competition: x.competition }:true | unique:'division_journee'">
                    <tr class="info">
                        <th colspan="6">{{ y.division_journee }}</th>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <th>Domicile</th>
                        <th></th>
                        <th></th>
                        <th>Extérieur</th>
                        <th>Score</th>
                    </tr>
                    <tr ng-repeat="z in lastResults | filter:{ competition: y.competition }:true | filter:{ division_journee: y.division_journee }:true">
                        <td>{{ z.date_reception | parseDate | date:'dd/MM/yyyy'}}</td>
                        <td ng-class="z.score_equipe_dom == '3' ? 'success' : ''">{{ z.equipe_domicile }}</td>
                        <td>{{ z.score_equipe_dom }}</td>
                        <td>{{ z.score_equipe_ext }}</td>
                        <td ng-class="z.score_equipe_ext == '3' ? 'success' : ''">{{ z.equipe_exterieur }}</td>
                        <td>
                            <span ng-if="z.set1 != '0-0'">{{ z.set1 }} </span>
                            <span ng-if="z.set2 != '0-0'">{{ z.set2 }} </span>
                            <span ng-if="z.set3 != '0-0'">{{ z.set3 }} </span>
                            <span ng-if="z.set4 != '0-0'">{{ z.set4 }} </span>
                            <span ng-if="z.set5 != '0-0'">{{ z.set5 }} </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>