<div class="panel panel-primary" ng-repeat="(key, value) in lastPosts  | groupBy: 'category'">
    <div class="panel-heading">
        <h1 class="panel-title">{{ key }}</h1>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Sujet</th>
            <th>Auteur</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="post in value">
            <td><a href="{{ post.guid }}" target="_blank">{{ post.title }}</a></td>
            <td>{{ post.creator }}</td>
            <td>{{ post.pubdate | parseDate | date:'dd/MM/yyyy'}}</td>
        </tr>
        </tbody>
    </table>
</div>