<link href="https://addtocalendar.com/atc/1.5/atc-style-button-icon.css" rel="stylesheet" type="text/css">
<link href="https://addtocalendar.com/atc/1.5/atc-style-menu-wb.css" rel="stylesheet" type="text/css">
<script type="text/javascript">(function () {
    if (window.addtocalendar)if (typeof window.addtocalendar.start == "function")return;
    if (window.ifaddtocalendar == undefined) {
        window.ifaddtocalendar = 1;
        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
        s.type = 'text/javascript';
        s.charset = 'UTF-8';
        s.async = true;
        s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://addtocalendar.com/atc/1.5/atc.min.js';
        var h = d[g]('body')[0];
        h.appendChild(s);
    }
})();
</script>
<div class="panel panel-primary" id="matches">
    <div class="panel-heading"><h1 class="panel-title">Matches</h1>
    </div>
    <table class="table table-bordered" ng-repeat="match in matches | unique:'journee'">
        <tr class="info">
            <th colspan="9">{{match.journee}}</th>
        </tr>
        <tr>
            <th>Code</th>
            <th>Date</th>
            <th>Equipe domicile</th>
            <th>Score</th>
            <th>Equipe extérieur</th>
            <th>Sets</th>
            <th>Statut</th>
            <th>Commentaires</th>
            <!-- TODO add status column -->
            <th>Actions</th>
        </tr>
        <tr ng-repeat="x in matches | filter:{ journee: match.journee }:true | filter:search">
            <td class="{{x.retard == '1' ? 'warning' : (x.retard == '2' ? 'danger' : '')}}"
                title="{{x.retard == '1' ? 'Match non renseigné depuis 5 jours' : (x.retard == '2' ? 'Match non renseigné depuis 10 jours' : '')}}">
                {{ x.code_match }}
            </td>
            <td class="">
                {{ x.date_reception }} - {{ x.heure_reception }}
                <span class="addtocalendar atc-style-button-icon atc-style-menu-wb">
                    <a class="atcb-link">
                        <img src="/images/add_to_calendar.png" width="16"/>
                    </a>
                    <var class="atc_event">
                        <var class="atc_date_start">{{x.date_reception_raw | date:'yyyy-MM-dd'}} {{x.heure_reception}}</var>
                        <var class="atc_date_end">{{x.date_reception_raw | date:'yyyy-MM-dd'}} {{x.heure_reception}}</var>
                        <var class="atc_timezone">Europe/Paris</var>
                        <var class="atc_title">{{ x.equipe_dom }} contre {{ x.equipe_ext }}</var>
                        <var class="atc_description">Compétition Ufolep 13 Volley</var>
                        <var class="atc_location">http://www.ufolep13volley.org/new_site/#/phonebook/{{x.id_equipe_dom}}</var>
                        <var class="atc_organizer">Ufolep 13 Volley</var>
                        <var class="atc_organizer_email">laurent.gorlier@ufolep13volley.org</var>
                    </var>
                </span>
            </td>
            <td class="text-center {{x.score_equipe_dom == '3' ? 'success' : ''}}">{{ x.equipe_dom }}</td>
            <td class="text-center">{{ x.score_equipe_dom }}/{{ x.score_equipe_ext }}</td>
            <td class="text-center {{x.score_equipe_ext == '3' ? 'success' : ''}}">{{ x.equipe_ext }}</td>
            <td class="">{{ x.set_1_dom }}/{{ x.set_1_ext }} - {{ x.set_2_dom }}/{{ x.set_2_ext }} -
                {{
                x.set_3_dom }}/{{
                x.set_3_ext }} - {{ x.set_4_dom }}/{{ x.set_4_ext }} - {{ x.set_5_dom }}/{{ x.set_5_ext }}
            </td>
            <td class="text-center"
                title="{{x.certif == '1' ? 'Feuille de match reçue et certifiée' : 'La feuille de match n\'a pas encore été validée par la commission. Merci au responsable de l\'équipe victorieuse de s\'assurer qu\'il a fait parvenir la feuille de match'}}">
                <span class="{{x.certif == '1' ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-warning-sign'}}"></span>
            </td>
            <td class="text-center">
                {{ x.note }}
                <span ng-if="x.report_status == 'ACCEPTED_BY_DOM'">Report accepté par {{ x.equipe_dom }}</span>
                <span ng-if="x.report_status == 'ACCEPTED_BY_EXT'">Report accepté par {{ x.equipe_ext }}</span>
                <span ng-if="x.report_status == 'ASKED_BY_DOM'">Report demandé par {{ x.equipe_dom }}</span>
                <span ng-if="x.report_status == 'ASKED_BY_EXT'">Report demandé par {{ x.equipe_ext }}</span>
                <span ng-if="x.report_status == 'REFUSED_BY_DOM'">Report refusé par {{ x.equipe_dom }}</span>
                <span ng-if="x.report_status == 'REFUSED_BY_EXT'">Report refusé par {{ x.equipe_ext }}</span>
                <span ng-if="x.report_status == 'REFUSED_BY_ADMIN'">Report refusé par la commission</span>
            </td>
            <td class="text-center" ng-include="'actions/match.php'"></td>
        </tr>
    </table>
</div>