<div class="panel panel-primary" id="matches_of_the_week">
    <div class="panel-heading">
        <h1 class="panel-title">Cette semaine</h1>
    </div>
    <table class="table table-bordered" ng-repeat="x in matches_of_the_week | unique:'competition'">
        <tr class="warning">
            <th>{{ x.competition | uppercase }}</th>
        </tr>
        <tr>
            <td>
                <table class="table"
                       ng-repeat="y in matches_of_the_week | filter:{ competition: x.competition }:true | unique:'division_journee'">
                    <tr class="info">
                        <th>{{ y.division_journee }}</th>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <th>Domicile</th>
                        <th></th>
                        <th></th>
                        <th>Extérieur</th>
                    </tr>
                    <tr ng-repeat="z in matches_of_the_week | filter:{ competition: y.competition }:true | filter:{ division_journee: y.division_journee }:true">
                        <td>{{ z.date_reception | parseDate | date:'dd/MM/yyyy'}}</td>
                        <td ng-class="z.score_equipe_dom == '3' ? 'success' : ''">{{ z.equipe_domicile }}</td>
                        <td><span ng-if="z.score_equipe_dom != '0' || z.score_equipe_ext != '0'">{{ z.score_equipe_dom }}</span>
                        </td>
                        <td><span ng-if="z.score_equipe_dom != '0' || z.score_equipe_ext != '0'">{{ z.score_equipe_ext }}</span>
                        </td>
                        <td ng-class="z.score_equipe_ext == '3' ? 'success' : ''">{{ z.equipe_exterieur }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>