<div class="panel panel-primary" id="matches">
    <div class="panel-heading"><span class="panel-title">Matches</span>
    </div>
    <table class="table table-bordered" ng-repeat="current_competition in matches | unique:'libelle_competition'">
        <tr class="info">
            <th colspan="9"><h1>{{current_competition.libelle_competition}}</h1></th>
        </tr>
        <tr>
            <td>
                <table class="table table-bordered"
                       ng-repeat="current_journee in matches | filter:{ libelle_competition: current_competition.libelle_competition }:true | unique:'journee'">
                    <tr class="info">
                        <th colspan="9"><h4>{{current_journee.journee}}</h4></th>
                    </tr>
                    <tr>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Equipe domicile</th>
                        <th>Score</th>
                        <th>Equipe extérieur</th>
                        <th>Sets</th>
                        <th>Statut</th>
                        <th>Commentaires</th>
                        <th>Actions</th>
                    </tr>

                    <tr ng-repeat="x in matches | filter:{ journee: current_journee.journee }:true | filter:search">
                        <td class="{{x.retard == '1' ? 'warning' : (x.retard == '2' ? 'danger' : '')}}"
                            title="{{x.retard == '1' ? 'Match non renseigné depuis 5 jours' : (x.retard == '2' ? 'Match non renseigné depuis 10 jours' : '')}}">
                            {{ x.code_match }}
                        </td>
                        <td class="{{(x.report_status == 'ACCEPTED_BY_DOM' || x.report_status == 'ACCEPTED_BY_EXT') ? 'warning':''}}"
                            title="{{(x.report_status == 'ACCEPTED_BY_DOM' || x.report_status == 'ACCEPTED_BY_EXT') ? 'Match reporté':''}}">
                            {{ x.date_reception }} - {{ x.heure_reception }}
                            <script src="//addtocalendar.com/atc/1.5/atc.min.js"></script>
                            <span class="addtocalendar atc-style-button-icon atc-style-menu-wb">
                                <a class="atcb-link">
                                    <img src="/images/add_to_calendar.png" width="16"/>
                                </a>
                                <var class="atc_event">
                                    <var class="atc_date_start">{{x.date_reception_raw | date:'yyyy-MM-dd'}} {{x.heure_reception}}</var>
                                    <var class="atc_date_end">{{x.date_reception_raw | date:'yyyy-MM-dd'}} {{x.heure_reception}}</var>
                                    <var class="atc_timezone">Europe/Paris</var>
                                    <var class="atc_title">{{ x.equipe_dom }} contre {{ x.equipe_ext }}</var>
                                    <var class="atc_description">Compétition Ufolep 13 Volley</var>
                                    <var class="atc_location">http://www.ufolep13volley.org/new_site/#/phonebook/{{x.id_equipe_dom}}</var>
                                    <var class="atc_organizer">Ufolep 13 Volley</var>
                                    <var class="atc_organizer_email">laurent.gorlier@ufolep13volley.org</var>
                                </var>
                            </span>
                        </td>
                        <td class="text-center {{x.score_equipe_dom == '3' ? 'success' : ''}}">
                            <span>{{ x.equipe_dom }}</span>
                            <span ng-if="x.forfait_dom == '1'"
                                  class="label label-info">perdu par forfait
                            </span>
                        </td>
                        <td class="text-center">
                            <span ng-if="x.score_equipe_dom == '3' || x.score_equipe_ext == '3'">{{ x.score_equipe_dom }}/{{ x.score_equipe_ext }}</span>
                        </td>
                        <td class="text-center {{x.score_equipe_ext == '3' ? 'success' : ''}}">
                            <span>{{ x.equipe_ext }}</span>
                            <span ng-if="x.forfait_ext == '1'"
                                  class="label label-info">perdu par forfait
                            </span>
                        </td>
                        <td class="">
                            <span ng-if="x.set_1_dom != '0' || x.set_1_ext != '0'">{{ x.set_1_dom }}/{{ x.set_1_ext }} </span>
                            <span ng-if="x.set_2_dom != '0' || x.set_2_ext != '0'">{{ x.set_2_dom }}/{{ x.set_2_ext }} </span>
                            <span ng-if="x.set_3_dom != '0' || x.set_3_ext != '0'">{{ x.set_3_dom }}/{{ x.set_3_ext }} </span>
                            <span ng-if="x.set_4_dom != '0' || x.set_4_ext != '0'">{{ x.set_4_dom }}/{{ x.set_4_ext }} </span>
                            <span ng-if="x.set_5_dom != '0' || x.set_5_ext != '0'">{{ x.set_5_dom }}/{{ x.set_5_ext }} </span>
                        </td>
                        <td class="text-center">
                <span ng-if="x.certif == '1'"
                      title="Feuille de match reçue et certifiée"
                      class="glyphicon glyphicon-ok text-success"></span>
                            <span ng-if="x.certif == '0' && x.sheet_received == '1'"
                                  title="La feuille de match n'a pas encore été validée par la commission"
                                  class=""></span>
                            <span ng-if="x.sheet_received == '0' && (x.date_reception_raw < today)"
                                  title="Merci au responsable de l'équipe victorieuse de s'assurer qu'il a fait parvenir la feuille de match"
                                  class="glyphicon glyphicon-exclamation-sign text-danger"></span>
                        </td>
                        <td class="text-center">
                            {{ x.note }}
                            <span ng-if="x.report_status == 'ACCEPTED_BY_DOM'">Report accepté par {{ x.equipe_dom }}</span>
                            <span ng-if="x.report_status == 'ACCEPTED_BY_EXT'">Report accepté par {{ x.equipe_ext }}</span>
                            <span ng-if="x.report_status == 'ASKED_BY_DOM'">Report demandé par {{ x.equipe_dom }}</span>
                            <span ng-if="x.report_status == 'ASKED_BY_EXT'">Report demandé par {{ x.equipe_ext }}</span>
                            <span ng-if="x.report_status == 'REFUSED_BY_DOM'">Report refusé par {{ x.equipe_dom }}</span>
                            <span ng-if="x.report_status == 'REFUSED_BY_EXT'">Report refusé par {{ x.equipe_ext }}</span>
                            <span ng-if="x.report_status == 'REFUSED_BY_ADMIN'">Report refusé par la commission</span>

                            <span ng-if="x.sheet_received == '1'">Feuilles de match reçues</span>

                        </td>
                        <td class="text-center" ng-include="'actions/match.php'"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div ng-include src="'pages/match.php'"></div>