<div class="panel panel-primary" id="my_timeslots">
    <div class="panel-heading"><h1 class="panel-title">Mes créneaux</h1>
    </div>
    <label>Recherche: <input ng-model="search.$"></label>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Gymnase</th>
            <th>Jour</th>
            <th>Heure</th>
            <th>Contrainte horaire forte ?</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in timeslots | filter:search">
            <td>{{ x.gymnasium_full_name }}</td>
            <td>{{ x.jour }}</td>
            <td>{{ x.heure }}</td>
            <td ng-class="x.has_time_constraint == '1' ? 'alert alert-danger' : ''"></td>
            <td>
                <form ng-submit="removeTimeSlot(x.id)">
                    <button type="submit" class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-remove"></span> Supprimer
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="panel panel-primary" id="add_timeslot">
    <div class="panel-heading"><h1 class="panel-title">Ajouter un créneau</h1>
    </div>
    <form role="form" ng-submit="addTimeSlot()">
        <div class="form-group">
            <label for="gymnasium">Gymnase</label>
            <select id="gymnasium" name="id_gymnase" ng-model="newTimeslot.id_gymnase">
                <option ng-repeat="option in gymnasiums" value="{{option.id}}">{{option.ville}} - {{option.nom}}
                </option>
            </select>
            <label for="day">Jour</label>
            <select id="day" name="jour" ng-model="newTimeslot.jour">
                <option value="Lundi">Lundi</option>
                <option value="Mardi">Mardi</option>
                <option value="Mercredi">Mercredi</option>
                <option value="Jeudi">Jeudi</option>
                <option value="Vendredi">Vendredi</option>
            </select>
            <label for="hour">Heure</label>
            <select id="hour" name="heure" ng-model="newTimeslot.heure">
                <option value="18:00">18:00</option>
                <option value="18:15">18:15</option>
                <option value="18:30">18:30</option>
                <option value="18:45">18:45</option>
                <option value="19:00">19:00</option>
                <option value="19:15">19:15</option>
                <option value="19:30">19:30</option>
                <option value="19:45">19:45</option>
                <option value="20:00">20:00</option>
                <option value="20:15">20:15</option>
                <option value="20:30">20:30</option>
                <option value="20:45">20:45</option>
                <option value="21:00">21:00</option>
                <option value="21:15">21:15</option>
                <option value="21:30">21:30</option>
                <option value="21:45">21:45</option>
            </select>
            <label class="c-input c-checkbox">
                <input name="has_time_constraint" type="checkbox" ng-true-value="'on'" ng-false-value="'off'"
                       ng-model="newTimeslot.has_time_constraint">
                <span class="c-indicator"></span>
                Contrainte horaire forte
            </label>
        </div>
        <button type="submit" class="btn btn-default">Sauver</button>
    </form>
</div>
<div class="alert alert-danger" role="alert" ng-hide="(myTxt+ '').length <= 0">
    {{myTxt}}
</div>
