<div class="panel panel-default">
    <div class="panel-heading">
        <h1>{{team.team_full_name}}</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <tbody>
            <tr>
                <td>Club</td>
                <td>{{team.club}}</td>
            </tr>
            <tr>
                <td>Responsable</td>
                <td ng-if="team.responsable_base64.length > 0"><img
                        src="../ajax/getImageFromText.php?text={{ team.responsable_base64 }}"/></td>
            </tr>
            <tr>
                <td>Téléphone 1</td>
                <td ng-if="team.telephone_1_base64.length > 0"><img
                        src="../ajax/getImageFromText.php?text={{ team.telephone_1_base64 }}"/></td>
            </tr>
            <tr>
                <td>Téléphone 2</td>
                <td ng-if="team.telephone_2_base64.length > 0"><img
                        src="../ajax/getImageFromText.php?text={{ team.telephone_2_base64 }}"/></td>
            </tr>
            <tr>
                <td>Email</td>
                <td ng-if="team.email_base64.length > 0"><img
                        src="../ajax/getImageFromText.php?text={{ team.email_base64 }}"/></td>
            </tr>
            <tr>
                <td>Créneaux</td>
                <td ng-if="team.gymnasiums_list.length > 0">{{team.gymnasiums_list}}</td>
            </tr>
            <tr>
                <td>Site web</td>
                <td ng-if="team.web_site.length > 0"><a href="{{team.web_site}}">{{team.web_site}}</a></td>
            </tr>
            <tr>
                <td><a href="../teamSheetPdf.php?id={{team.id_equipe}}" target="_blank" role="button" class="btn btn-primary"><span
                        class="glyphicon glyphicon-download-alt"></span> Télécharger la fiche équipe</a></td>
                <td ng-if="team.path_photo.length > 0"><img src="../{{team.path_photo}}" height="250px"
                                                            alt="Pas de photo"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
