<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Feuille de match signée, questionnaire</h1>
Bonjour,<br>
<br>
La feuille du match %code_match% a été signée via le site internet.<br>
<br>
Vous n'avez pas besoin d'envoyer les scans papier, tout a été fait automatiquement, bravo !<br>
<br>
Merci, cette étape va permettre à la commission d'alléger le travail de validation.<br>
<br>
Dernière chose : un questionnaire est mis à disposition, pour avoir votre retour sur le match joué<br>
Voici le lien pour le remplir (se connecter avec son compte responsable auparavant) : <a href="%url_survey%">Questionnaire</a><br>
<br>
Cordialement,<br>
<br>
La commission <a href="https://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html>