<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Activation de %full_name%</h1>
Bonjour,<br>
<br>
La licence de %full_name% a été validée par la commission.<br>
%full_name% apparaîtra désormais sur fond blanc sur la fiche équipe.<br>
Les fiches équipes suivantes:<br>
%teams_list%<br>
peuvent être imprimées de nouveau, afin de faciliter la validation des matchs.<br>
<br>
Cordialement,<br>
<br>
La commission <a href="http://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html>