<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>L'inscription de l'équipe %new_team_name% a bien été prise en compte</h1>
Bonjour,<br>
<br>
Votre équipe %new_team_name% a bien été inscrite pour la compétition Ufolep.<br>
Voici les informations que vous avez fournies:<br>
<ul>
    <li>Nom d'équipe: %new_team_name%</li>
    <li>Club: %club%</li>
    <li>Compétition: %competition%</li>
    <li>L'équipe s'appelait l'année dernière: %old_team%</li>
    <li>Responsable d'équipe: %leader_first_name% %leader_name%</li>
    <li>Adresse email: %leader_email%</li>
    <li>Numéro de téléphone: %leader_phone%</li>
    <li>Gymnase de réception: %court_1%</li>
    <li>Créneau: %day_court_1% %hour_court_1%</li>
    <li>Gymnase de réception secondaire: %court_2%</li>
    <li>Créneau: %day_court_2% %hour_court_2%</li>
    <li>Remarques: %remarks%</li>
</ul>
<br>
Cordialement,<br>
<br>
La commission <a href="https://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html>