<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Match %code_match%, pénalité pour feuille de match non signée</h1>
Bonjour,<br/>
<br/>
Ceci est un mail automatique.<br/>
La feuille de match de la rencontre %equipe_dom% vs %equipe_ext% du %date_reception% n'était pas
signée par les deux équipes 48 heures après le match.<br/>
<br/>
Conformément au règlement (article Sanctions), <strong>1 point de pénalité</strong> est retiré à chacune des deux
équipes dans le classement.<br/>
<br/>
Pensez à signer la feuille de match en ligne après chaque rencontre. En cas d'erreur, contactez la commission.<br/>
<br/>
Sportivement,<br/>
La commission UFOLEP 13 Volley
</body>
</html>
