<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<body>
<h1>Cotisation non envoyée</h1>
Bonjour,<br>
<br>
En début d'année, une cotisation est demandée aux clubs engagés dans les championnats.<br>
<br>
Sauf erreur de notre part, nous n'avons pas reçu la cotisation demandée, c'est pourquoi votre club apparaît dans la liste suivante :<br>
<br>
<table>
    <tr>
        <th>Club</th>
        <th>Competitions</th>
        <th>Coût total</th>
    </tr>
    %trs_club_compet_cout%
</table>
<br>
Pour régler cette adhésion, faire au choix :<br>
<ul>
    <li>Un chèque à l'ordre de l'UFOLEP13 et l'envoyer à l'Ufolep 13 :
        <ul>
            <li>%coordonnees_ufolep13%</li>
        </ul>
    </li>
    <li>Un virement à l'UFOLEP13, dont le RIB est téléchargeable <a href="%url_rib%" target="_blank">ICI</a></li>
</ul>
Merci par avance de régulariser, d'avertir le responsable de la commission volley (pour arrêter la relance automatique), et de nous contacter si besoin d'informations supplémentaires.<br>
<br>
Cordialement,<br>
<br>
La commission <a href="https://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html>