<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Cotisation non envoyée</h1>
Bonjour,<br>
<br>
En début d'année, une cotisation est demandée aux clubs engagés dans les championnats.<br>
<br>
Sauf erreur de notre part, nous n'avons pas reçu la cotisation demandée, dont les détails sont ci-joints<br>
<br>
<table>
    <tr>
        <th>Club</th>
        <th>Competitions</th>
        <th>Coût total</th>
    </tr>
    <tr>
        <td>%club%</td>
        <td>%competitions%</td>
        <td>%cout%</td>
    </tr>
</table><br>
<br>
Merci par avance de régulariser, et de nous contacter si besoin d'informations supplémentaires.<br>
<br>
Cordialement,<br>
<br>
La commission <a href="https://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html>