<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Votre équipe %team_name%</h1>
Bonjour,<br/>
<br/>
Afin de préparer la nouvelle saison de championnat UFOLEP,<br/>
Nous vous demandons de vérifier les données saisies pour votre équipe.<br/>
<br/>
Voici les informations dont nous disposons à ce jour:<br/>
Nom d'équipe: <br/>
%team_name%<br/>
Responsable d'équipe: <br/>
%team_leader%<br/>
Championnat: <br/>
%championship_name%<br/>
Division: <br/>
%division%<br/>
Créneaux: <br/>
%creneaux%<br/>
<br/>
Bonne journée<br/>
<br/>
Cordialement,<br>
<br>
La commission <a href="http://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html>