<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Responsables d'équipe sans adresse email</h1>
Bonjour,<br/>
<br/>
Certains responsables d'équipe n'ont pas encore renseigné leur adresse email sur le site.<br/>
<br/>
De ce fait il est impossible de les contacter pour une demande de report ou pour leur rappeler de saisir un résultat de
match.<br/>
<br/>
Peux-tu leur rappeler de consulter les alertes lorsqu'ils se connectent au portail Ufolep 13 Volley ? Il y a déjà une
alerte qui leur indiquera la marche à suivre.<br/>
<br/>
Bonne journée<br/>
<br/>
Cordialement,<br>
<br>
La commission <a href="https://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
<table border="1">
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Compétition</th>
        <th>Equipe</th>
    </tr>
    %team_leaders_without_email%
</table>
</body>
</html>