<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Demande de report non traitée</h1>
Aux équipes de %team_home% et %team_guest%<br/>
<br/>
Une demande de report pour le match %match_reference% du %original_match_date% a été effectuée sur le site.<br/>
<br/>
Le report n'a pas été accepté ou refusé par l'équipe sollicitée.<br/>
<br/>
La commission vous remercie par avance de respecter les délais prévus pour communiquer sur les reports, à savoir:
<br/>
<br/>
- 7 jours maximum pour accepter ou refuser le report<br/>
- Renseigner dans la foulée une nouvelle date.<br/>
<br/>
Des sanctions peuvent être appliquées en fin de saison si les délais ne sont pas respectés.
<br/>
Bonne journée<br/>
<br/>
Cordialement,<br>
<br>
La commission <a href="http://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html>