<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Acceptation de report</h1>
Bonjour,<br>
<br>
Un report pour le match %code_match% a été accepté par l'équipe %team_name%.<br>
<br>
- %team_name% doit déterminer une nouvelle date pour la réception du match %code_match%.<br>
<br>
- Si l'équipe adverse ne peut pas jouer à cette nouvelle date, elle sera déclarée forfait.<br>
<br>
Cordialement,<br>
<br>
La commission <a href="http://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html>