<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Demande de report</h1>
Bonjour,<br>
<br>
Un report pour le match %code_match% a été demandé par l'équipe %team_name%.<br>
<br>
La raison avancée est la suivante: %reason%.<br>
<br>
- L'équipe adverse peut refuser le report: dans ce cas l'équipe demandeuse doit se présenter le jour du match, ou
déclarer forfait.<br>
<br>
- L'équipe adverse peut accepter le report: dans ce cas l'équipe adverse fixe une nouvelle date pour jouer le match.<br>
<br>
- Enfin, la CTSD peut également refuser le report (délais trop court, limite de report atteinte, raison non
suffisante...).<br>
<br>
Cordialement,<br>
<br>
La commission <a href="http://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html>