<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Demande d'initialisation de mot de passe</h1>
Bonjour,<br>
<br>
Vous avez demandé une réinitialisation du mot de passe de votre compte.<br>
<br>
Si ce n'était pas vous, merci de ne pas tenir compte de cet email.<br>
<br>
Voici vos informations de connexion :<br>
<br>
<h2>Login: </h2>%login%<br>
<h2>Equipe de rattachement: </h2>%team_name%<br>
<h2>Mot de passe: </h2>Cliquez <a href="%url%" target="_blank">ici</a> pour réinitialiser votre mot de passe.<br>
<br>
<br>
Vous recevrez alors un autre email avec vos identifiants.
<br>
Attention : le lien n'est valable qu'aujourd'hui.
<br>
Cordialement,<br>
<br>
La commission <a href="https://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html> 