<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Match %code_match%, Feuille(s) en ligne non signée(s)</h1>
Bonjour,<br/>
<br/>
Ceci est un mail automatique.<br/>
Vous recevez cet email, car il manque des signatures pour la rencontre %equipe_dom% vs %equipe_ext%.<br/>
<br/>
Voici l'état des signatures concernant ce match :<br/>
<br/>
<table border="1">
    <tr>
        <th>Equipe</th>
        <th>Fiche équipe</th>
        <th>Feuille de match</th>
    </tr>
    <tr>
        <td>%equipe_dom%</td>
        <td>%is_sign_team_dom%</td>
        <td>%is_sign_match_dom%</td>
    </tr>
    <tr>
        <td>%equipe_ext%</td>
        <td>%is_sign_team_ext%</td>
        <td>%is_sign_match_ext%</td>
    </tr>
</table>
<br/>
Par avance, merci de cliquer sur les liens ci-dessus afin de régulariser.
<br/>
Bonne journée<br/>
<br/>
Cordialement,<br>
<br>
La commission <a href="https://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html>