<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Joueurs sans numéro de licence</h1>
Bonjour,<br/>
<br/>
Vous recevez cet email car au moins un de vos joueurs n'a pas encore son numéro de licence renseigné sur le site de
l'UFOLEP 13 VOLLEY.<br/>
<br/>
Merci de mettre à jour ce numéro de licence dès que vous le connaissez, afin que l'UFOLEP puisse activer votre joueur
sur la fiche équipe.<br/>
<br/>
La liste des joueurs concernés est en pièce jointe.<br/>
<br/>
Bonne journée<br/>
<br/>
Cordialement,<br>
<br>
La commission <a href="http://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
<table border="1">
    <tr>
        <th>Joueurs</th>
        <th>Club</th>
        <th>Equipe</th>
        <th>Responsable</th>
    </tr>
    <tr>
        <td>%joueurs%</td>
        <td>%club%</td>
        <td>%equipe%</td>
        <td>%responsable%</td>
    </tr>
</table>
</body>
</html>