<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Récapitulatif de vos identifiants Ufolep13Volley</h1>
Bonjour,<br/>
<br/>
Veuillez trouver ci-joint vos identifiants pour le site ufolep13volley.org :<br/>
<br/>
Email: %email%<br/>
<br/>
Identifiant: %login%<br/>
<br/>
Mot de passe: %password%<br/>
<br/>
Equipe liée: %team%<br/>
<br/>
Competition: %competition%<br/>
<br/>
<br/>
Si ce compte n'est plus valable (mauvaise adresse email, mauvaise équipe...),
n'hésitez pas à créer de nouveau un compte ou à contacter la CTSD.<br/>
Cordialement,<br>
<br>
La commission <a href="http://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html>