<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>[UFOLEP13VOLLEY]Activité</h1>
Bonjour,<br/>
<br/>
Voici l'activité récente du site ufolep13volley.org (2 derniers jours)<br/>
<br/>
Bonne journée<br/>
<br/>
Cordialement,<br>
<br>
La commission <a href="http://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
<table border="1">
    <tr>
        <th>Date</th>
        <th>Nom d'équipe</th>
        <th>Compétition</th>
        <th>Description</th>
        <th>Utilisateur</th>
        <th>Email</th>
    </tr>
    %activity%
</table>
</body>
</html>