<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Compte créé</h1>
Bonjour,<br>
<br>
Votre compte d'accès au site <a href="http://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a> est maintenant créé.<br>
<br>
Voici vos informations de connexion:<br>
<br>
<h2>Login: </h2>%login%<br>
<h2>Mot de passe: </h2>%password%<br>
<h2>Equipe de rattachement: </h2>%team_name%<br>
<br>
<br>
<br>
Cordialement,<br>
<br>
La commission <a href="http://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html> 