<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title>
</head>
<body>
<h1>Licences non envoyées</h1>
Bonjour,<br/>
<br/>
Vous recevez cet email car vous n'avez pas encore fourni la licence d'au moins l'un de vos joueurs à la commission
Volley.<br/>
<br/>
Merci de fournir à la commission volley, via l'adresse email <a href="mailto:contact@ufolep13volley.org">contact@ufolep13volley.org</a>,
la licence des joueurs listés ci-dessous.<br/>
<br/>
Vous trouverez ces licences sur le site webaffiligue.<br/>
<br/>
Bonne journée<br/>
<br/>
Cordialement,<br/>
<br/>
La commission <a href="http://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br/>
<table border="1">
    <tr>
        <th>Joueurs</th>
        <th>Club</th>
        <th>Equipe</th>
        <th>Responsable club</th>
        <th>Responsable equipe</th>
    </tr>
    <tr>
        <td>%joueurs%</td>
        <td>%club%</td>
        <td>%equipe%</td>
        <td>%responsable%</td>
        <td>%email%</td>
    </tr>
</table>
</body>
</html>