<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Modification de date de match</h1>
Bonjour,<br>
<br>
La date du match <strong>%code_match%</strong> (%equipe_dom% vs %equipe_ext%) a été modifiée :<br>
<br>
<strong>Ancienne date :</strong> %old_date%<br>
<strong>Nouvelle date :</strong> %new_date%<br>
<strong>Gymnase :</strong> %gymnasium%<br>
%inversion%
%commentaire%
<br>
Cordialement,<br>
<br>
La commission <a href="https://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html>
