<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Liste des matches de la semaine</h1>
Bonjour,<br/>
<br/>
Voici vos matches de la semaine.<br/>
<br/>
Bonne journée<br/>
<br/>
Cordialement,<br>
<br>
La commission <a href="https://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
<table border="1">
    <tr>
        <th>Domicile</th>
        <th>Extérieur</th>
        <th>Code Match</th>
        <th>Date</th>
        <th>Heure</th>
        <th>Responsable</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>Creneaux</th>
    </tr>
    %next_matches%
</table>
</body>
</html>