<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>[UFOLEP13VOLLEY]Saisie Internet des résultats</h1>
Aux équipes de %equipe_reception% et %equipe_visiteur%<br/>
<br/>
Comme vous avez dû le lire sur le règlement, la saisie des informations sur le site internet doit être rigoureuse (pour
le suivi de la commission Volley et pour l'intérêt qu'y portent les joueurs)<br/>
<br/>
Pour résumer, sur le site, 10 jours après la date indiquée pour le match (qui peut être en rouge si le match a été
reportée), il doit y avoir un résultat affiché.<br/>
<br/>
Pour votre match du <b>%date_reception%</b> cela n'est pas le cas. Nous vous demandons donc :<br/>
<br/>
- soit que le résultat soit indiqué<br/>
- soit qu'une autre date de match soit affichée (pour cela il faut la communiquer au responsable des classements)<br/>
<br/>
Je vous rappelle que les deux équipes doivent veiller à ce que cette règle soit suivie: les deux pourraient donc être
pénalisées.<br/>
<br/>
Bonne journée<br/>
<br/>
Cordialement,<br>
<br>
La commission <a href="http://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html>