<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Feuille de match reçue</h1>
Bonjour,<br>
<br>
Une feuille de match a été jointe pour le match %code_match%.<br>
<br>
Le responsable des feuilles de match pour cette compétition peut maintenant vérifier et valider le match.<br>
<br>
Les fichiers attachés à ce match sont les suivants:<br>
%files_paths%<br>
<br>
Cordialement,<br>
<br>
La commission <a href="https://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html>