<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Fiches équipes signées</h1>
Bonjour,<br>
<br>
Les fiches équipes du match %code_match% ont été signées via le site internet.<br>
<br>
Vous pouvez maintenant saisir, une fois terminé, le résultat du match, et signer la feuille de match !<br>
<br>
Rendez-vous ici à la fin du match: <a href="%url_match%" target="_blank">%code_match%</a><br>
<br>
Bon match :)<br>
<br>
La commission <a href="https://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html>