<html>
<head>
    <meta charset="UTF-8">
    <title>UFOLEP 13 VOLLEY</title></head>
<body>
<h1>Fiches équipes signées par %team_name%</h1>
Bonjour,<br>
<br>
Le responsable de l'équipe %team_name% vient de signer les fiches équipes du match %code_match% via le site internet.<br>
<br>
A votre tour maintenant ! Rendez-vous ici : <a href="%url_match%" target="_blank">%code_match%</a><br>
<br>
Votre signature de fiche équipe est nécessaire pour pouvoir, une fois votre match joué, signer la feuille de match !<br>
<br>
Bon match :)<br>
<br>
La commission <a href="https://www.ufolep13volley.org">UFOLEP 13 VOLLEY</a><br>
</body>
</html>