body {
}

/* ----- CALQUES INFOS --------------------------------------------------------------------------- */
#infos {
    font-size: 24px;
    margin: 10px;
    text-align: center;
    color: #0099CC;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
}

/* ----- CALQUE TITRE---------------------------------------------------------------------------- */
#titre {
    background-image: url(../images/bandeau_titre_1000x30.png);
    width: 1000px;
    text-align: left;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
}
#titre h1 {
    font-size: 16px;
    text-indent: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0099CC;
}

/* ----- CALQUE COMMISSION ---------------------------------------------------------------------------- */
#commission {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border: thin solid #CCCCCC;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#commission h1 {
    background-color: #f7f7f7;
    font-size: 14px;
    padding: 0;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-top-color: #999999;
    border-right-color: #999999;
    border-bottom-color: #999999;
    border-left-color: #999999;
    line-height: 130%;
    text-indent: 10px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
#commission li {
    list-style-image: url(../images/puce.gif);
    margin-left: 50px;
    line-height: 150%;
}
#commission .details {
    width: 470px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border: thin solid #CCCCCC;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
}
#commission .photo {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 5px;
    background-color: #f7f7f7;
    border: 1px solid #CCCCCC;
    margin-right: 350px;
    margin-top: 20px;
}
#commission .fonction {
    font-weight: bold;
}
#commission .membre {
    border: 1px solid #FFFFFF;
}

/* ----- CALQUE PORTAIL ---------------------------------------------------------------------------- */
#portail #login {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ----- MISC ---------------------------------------------------------------------------- */
.grid-red .x-grid-cell {
    background: pink !important;
}
.grid-green .x-grid-cell {
    background: greenyellow !important;
}
