body {
}

/* ----- CALQUES INFOS --------------------------------------------------------------------------- */
#infos {
    font-size: 24px;
    margin: 10px;
    text-align: center;
    color: #0099CC;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
}

#infos_mobile {
    /*    font-size: 24px;*/
    margin: 10px;
    text-align: center;
    color: #0099CC;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
}

/* ----- CALQUE TITRE---------------------------------------------------------------------------- */
#titre {
    color: #0099CC;
    text-align: center;
    font-weight: bold;
    font-family: 'Ultra', sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-shadow: 0 3px #CCCCCC;
}

#titre_mobile {
    color: #0099CC;
    text-align: center;
    font-weight: bold;
    font-family: 'Ultra', sans-serif;
    /*    font-size: 36px;
        line-height: 42px;*/
    text-shadow: 0 3px #CCCCCC;
}

/* ----- CALQUE COMMISSION ---------------------------------------------------------------------------- */
#commission {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border: thin solid #CCCCCC;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#commission h1 {
    background-color: #f7f7f7;
    font-size: 14px;
    padding: 0;
    border: 1px #999999;
    border-bottom-style: solid;
    line-height: 130%;
    text-indent: 10px;
    margin: 0;
}

#commission li {
    list-style-image: url(../images/puce.gif);
    margin-left: 50px;
    line-height: 150%;
}

#commission .details {
    width: 470px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border: thin solid #CCCCCC;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
}

#commission .photo {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 5px;
    background-color: #f7f7f7;
    border: 1px solid #CCCCCC;
    margin-right: 350px;
    margin-top: 20px;
}

#commission .fonction {
    font-weight: bold;
}

#commission .membre {
    border: 1px solid #FFFFFF;
}

/* ----- CALQUE PORTAIL ---------------------------------------------------------------------------- */
#portail #login {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ----- MISC ---------------------------------------------------------------------------- */
.grid-red .x-style-cell {
    background: pink;
}

.grid-orange .x-style-cell {
    background: gold !important;
}

.grid-green .x-style-cell {
    background: greenyellow !important;
}
