name: CI/CD Workflow

on:
  workflow_dispatch:  # Déclenchement manuel
  push:
    tags:
      - '*'  # Se déclenche sur n'importe quel tag

jobs:
  deploy:
    name: Deploy to Production
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')  # Exécute uniquement si déclenché par un tag
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add host key
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan ftp.cluster020.hosting.ovh.net >> ~/.ssh/known_hosts

      - name: Deploy to production
        run: |
          ssh ufolepvocb@ftp.cluster020.hosting.ovh.net "cd www && if git ls-files --error-unmatch composer.phar >/dev/null 2>&1; then git checkout -- composer.phar; else rm -f composer.phar; fi && git pull"
          echo "Deployment completed successfully!"
